@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}




.NavBar {
    display: flex;
    justify-content: space-between;
}

.walletConnect {
    margin: 55px 30px 0 0;
    padding-bottom: 20px;
}

.wallet {
    color: red;
}



.CreateProject {
    padding-block: 50px;
}

.NavBar {
    display: flex;
    justify-content: space-between;
}

.walletConnect {
    margin: 35px 30px 0 0;
}

.CreateProject {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Project--header {
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
}

.Form--control {
    padding-block: 16px;
    display: flex;
    flex-direction: column;
}

.Form--control label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.Input {
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #e6ddf8;
    color: black;
}

